{% extends 'index.html'%}

{% block content %}
<body class="cursos">
    <h1>Cursos disponibles</h1>
    <br>
    <hr>
      
        {% for x in tematicas %}
        <div class="Nombre"><h2>{{x}}</h2></div>
        
        <div class="tema">  
                {% for video in tablaVideos %}
                    {% if video.tematica.tema == x %}
                    <div class="video">
                        <p class="titulo">{{video.nombre_video}} </p>
                        <iframe id="frameVideo" src="{{video.url}}" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
                        <p class="autor">{{video.autor}}</p>
                        <label for="menu">Añadir a la lista</label>
                        <div class="extraAction">
                        <form method="POST" action="{% url 'cursos' %}">
                            {% csrf_token %}
                            <select name="listas" id="menu">
                                {% for curso in cursosCoincidentes%}
                                <option value="{{curso.id}},{{video.id}}">{{curso.nombre_curso}}</option>
                                {%endfor%}
                            </select>
                            <button class="boton" type="submit">Añadir</button>
                        </div>
                        </form>
                    </div>
                
                    {%endif%}
                {% endfor %}

        </div>
        {% endfor %}



</body>

{% endblock content %}