{% extends 'index.html'%}

{% block content %}
<body class="cursos">
    <h1>Página Cursos</h1>
    <br>
    <hr>
      
        {% for x in tematicas %}

        <h2>{{x}}</h2>
        <div class="tema">  
                {% for video in tablaVideos %}
                    {% if video.tematica.tema == x %}
                    <div class="video">
                        <p class="titulo">{{video.nombre_video}} </p>
                        <iframe src="{{video.url}}" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
                        <p class="autor">{{video.autor}}</p>
                        <button>Añadir a la lista</button>
                    </div>
                
                    {%endif%}
                {% endfor %}

        </div>
        {% endfor %}



</body>

{% endblock content %}