<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Modernizados</title>
  {% load static %}
  <link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">
  <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
</head>
<body>
  <header>
    <div class="menu">
      <!--<img src="logo.png" alt="">-->
      <nav>
          <ul>
            <li><a  href="{% url 'principal'%}">Inicio</a></li>
            {%if request.user.is_authenticated%}
            <li><a href="{% url 'cursos'%}">Cursos</a></li>
            <li><a href="{% url 'listas'%}">Mis Listas</a></li>
            <li><a href="{% url 'confirmacion'%}">Cerrar Sesión</a></li>
            {%else%}
            <li><a href="{% url 'login'%}">Iniciar Sesión</a></li>
            {%endif%}
            {%if request.user.is_staff%}
            <li><a href="/admin/">Admin</a></li>
            {%endif%}
            
          </ul>
      </nav>
    </div>
  </header>
  <div id="infoPag">
  {% if messages %}
    {% for message in messages%}
      <div class="notification message.tags">
        {{message}}
      </div>
    {%endfor%}
  {%endif%}
  {% block content %}

  {% endblock content %}
  <!--Estudiar!-->
  <script>
    $(document).ready(function() {
        $('.no_recargar').on('submit', function(event) {
            event.preventDefault();
            $.ajax({
                type: "POST",
                url: $(this).attr('action'),
                data: $(this).serialize(),
            });
        });
    });

    document.addEventListener('DOMContentLoaded', function () {
            var botones = document.querySelectorAll('.desplegar');

            botones.forEach(function (boton) {
                boton.addEventListener('click', function () {
                    // Obtén el número del botón haciendo coincidir el ID
                    var nombre = boton.id.replace('boton', '');

                    var divCorrespondiente = document.getElementById('div' + nombre);
                    if (divCorrespondiente.style.display === 'none' || divCorrespondiente.style.display === '') {
                        divCorrespondiente.style.display = 'block';
                    } else {
                        divCorrespondiente.style.display = 'none';
                    }
                });
            });
        });

    

    
</script>
</div>

<footer>
  <div class="Footer">
    <h5>Encuéntranos</h5>
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3327.4185450424707!2d-70.6215968251789!3d-33.49048609956209!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x9662d006fa56ee51%3A0x81dacfbe20db68cf!2sUniversidad%20T%C3%A9cnica%20Federico%20Santa%20Mar%C3%ADa!5e0!3m2!1ses!2scl!4v1700060296238!5m2!1ses!2scl" width="400" height="300" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
    <p id="direccion"><a href="https://maps.app.goo.gl/GcKjmzQFhrsNszCW8" target="_blank">Av. Vicuña Mackenna 3939, 8940897 San Joaquín, Región Metropolitana</a></p>
  </div>
  <div class="Footer">
    <h5>Contacto</h5>
    <p><a href="mailto:modernizadosusm@gmail.com">Correo: modernizadosusm@gmail.com</a></p>
    <p><a href="tel:+56 9 3956 39 29">tel:+56 9 3956 3929</a></p>

  </div>
</footer>
</body>
</html>