{% extends 'index.html'%}

{% block content %}
<body>
    <h1>Tus listas de reproducción </h1>
    <a class="nlista" href="{% url 'crear_listas'%}">Crea una lista</a>
    <br><hr><br>
    {%for x in tablaCursos%}
        {%if x.autor == user.id %}
            <h2>{{x.nombre_curso}}</h2>
            <div class="tema"> 
            {%for j in tablaLista_reproduccion%}
                {%if j.id_curso == x.id%}
                    {%for k in tablaVideos%}
                        {%if k.id == j.id_video%}
                        <div class="video">
                        <p class="titulo">{{k.nombre_video}} </p>
                        <iframe id="frameVideo" src="{{k.url}}" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
                        <p class="autor">{{k.autor}}</p>
                        <p>registro N°{{j.id}}</p>
                        </div>
                        {%endif%}
                    {%endfor%}
                {%endif%}
            {%endfor%}
        </div>
        {%endif%}
    {%endfor%}

</body>

{% endblock content %}