{% extends 'index.html'%}

{% block content %}
<body>
    <div class="formulario">
        <form method="post" class="formUsers">
            {% csrf_token %}
            <label for="id_new_password1">Nueva Contraseña:</label>
            <input type="password" name="new_password1" autocomplete="new-password" required="" id="id_new_password1"> b   
            
            <label for="id_new_password2">Confirmar Nueva Contraseña:</label>
            <input type="password" name="new_password2" id="id_new_password2" value="" required>

            <button  type="submit" id="submit">Confirmar</button>
        </form>
    </div>
    
    
</body>

{% endblock content %}