{% extends 'index.html' %}
{% load static %}
{% block content %}

<body>
    {%if request.user.is_authenticated%}
    <div>
        <p>Tus datos:</p>
        <ul>
            <li>Usuario: {{usuario.username}}</li>
            <li>Nombre: {{usuario.first_name}}</li>
            <li>Apellido: {{usuario.last_name}}</li>
        </ul>
    </div>
    {%else%}
    <div id="Unlogged">
        <h1>MODERNIZADOS</h1>
        <h3>Capacitando profesionales para la era digital</h3>
        <h4><a href="{% url 'login'%}">Inicia sesión</a> o <a href="{% url 'registro'%}">Crea un cuenta</a> </h4>
    </div>
    
    {%endif%}
</body>
{% endblock %}
<div id="div2Homepage">
            <img src="{% static 'img/Celeste 2 sin fondo.png' %}" alt="">
        </div>
    </div>

