{% extends 'index.html' %}

{% block content %}

<body>
    <h1>Inicio</h1>
    {%if request.user.is_authenticated%}
    <div>
        <p>Tus datos:</p>
        <ul>
            <li>Usuario: {{usuario.username}}</li>
            <li>Nombre: {{usuario.first_name}}</li>
            <li>Apellido: {{usuario.last_name}}</li>
        </ul>
    </div>
    {%else%}
    <h2>Inicia sesón para acceder al contenido de la página</h2>
    <a class="btn btn-outline-dark" href="{% url 'login'%}">Inicia sesión</a>
    {%endif%}
</body>
{% endblock %}