{% extends 'index.html' %}
{% load static %}
{% block content %}

<body>
    {%if request.user.is_authenticated%}
    <div id="Logged">
        <h1>MODERNIZADOS</h1>
        <h3>Capacitando profesionales para la era digital</h3>
        <h4>¡Bienvenid@! {{usuario.username}}</h4>
        <h4>Revisa nuestros <a href="{% url 'cursos'%}">cursos disponibles</a> o ve tus <a href="{% url 'listas'%}">listas de reproducción</a> </h4>
    </div>
    {%else%}
    <div id="Unlogged">
        <h1>MODERNIZADOS</h1>
        <h3>Capacitando profesionales para la era digital</h3>
        <h4><a href="{% url 'login'%}">Inicia sesión</a> o <a href="{% url 'registro'%}">Crea un cuenta</a> </h4>
    </div>
    
    {%endif%}
</body>
{% endblock %}
<div id="div2Homepage">
            <img src="{% static 'img/Celeste 2 sin fondo.png' %}" alt="">
        </div>
    </div>

