{% extends 'index.html' %}

{% block content %}
<body>
    <div class="formulario">
        <h1 class="text-center">Regístrate</h1>
        <h5 class="text-center">¿Ya tienes una cuenta? <a class="btn btn-dark" href="{% url 'login'%}">Inicia sesión</a></h5>
        <form class="formUsers" method="post">
            {% csrf_token %}
            {{form.as_p}}
            <button class="btn btn-outline-dark submit" type="submit" id="submit">Enviar</button>
        </form>
    </div>
</body>
{% endblock %}