{% extends 'index.html'%}

{% block content %}
<body>
    <div class="formulario">
        <h1 class="text-center">Recuperar contraseña</h1>
        <h5 class="text-center">Ingresa el correo con el que creaste tu cuenta y luego sigue los pasos indicados</h5>
        <form class="formUsers" method="POST">
            {%csrf_token%}
            {{form}}
        <button class="btn btn-outline-dark" type="submit" name="Send email" id="submit">Enviar</button>
    </form>
    </div>
    
</body>

{% endblock content %}