h2{
    margin: 0 10px 0 10px;
}
.tema{
    margin: 0 10px 0 10px;
    background-color: grey;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 10px;
    min-height: 0;
    margin-bottom: 30px;
}
.video{
    background-color: darkgrey;
    width: 98%;
    min-height: 350px;
    height: 40vh;
    margin: 1%;
    text-align: center;
    transition: 0.3s;
}

.video:hover{
    background-color: lightgray;
    font-weight: bold;
    transform: scale(1.02);
}

iframe{
    margin: 10px;
}
.titulo{
    height: 20%;
    margin-left: 5px;
    margin-right: 5px;

}
.autor{
    height: 20%;
    margin-left: 5px;
    margin-right: 5px;
}
