* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    z-index: 1;
    
}
html body {
    background-color: #e8e8e8;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}
body p{
    font-size: larger;
    margin-bottom: 0;
}

#infoPag{
    padding-top: 64px;
    min-height: 95vh;
}

/* navbar */

header{
    background-color: #798ea7;
    width: 100%;
    display: table;
    font-size: 1.1rem;
    position: fixed;
    z-index: 2;
    box-shadow: 0 0 5px #2C3238;
    


}
.menu {
    clear: both;
    width: 95%;
    margin: 0 auto;

}

nav{
    float: right;
}

nav ul li{
    list-style: none;
    float: left;


}

nav ul li a {
    text-decoration: none;
    font-weight: bold;
    color: black;
    padding: 1.3rem 1.5rem;
    line-height: 4rem;
    
} 

nav ul li:hover{
    background-color: #1f2b44;
    
}
nav ul li a:hover{
    color: #e8e8e8;
}

/* footer */
footer{
    background-color: #1f2b44;
    color: #e8e8e8;
    min-height: 5vh;
    display: flex;
}
.Footer{

    width: 50%;
    text-align: center;

}
.Footer p {
    text-align: left;
    padding-left: 10vh;
}
.Footer a {
    color: #e8e8e8;
}

#direccion{
    font-size: smaller;
    text-align: center;
    padding-left: 0;
}   
.Footer iframe {
    align-self: center;
    box-shadow: 0 0 10px #48494b88;
}
/*Cursos y listas*/
h2{
    margin: 0 10px 0 10px;
    float: left;
}
.desplegable{
    display: none;
}
.tema{
    background-color: #1f2b444d;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 10px;
    min-height: fit-content;
    margin-bottom: 30px;
    padding: 10px;
}
.video{
    background-color: #798ea7;
    width: 98%;
    min-height: 350px;
    height: 40vh;
    margin: 1%;
    text-align: center;
    transition: 0.3s;
    border-radius: 30px;
}


.video:hover{
    background-color: #e8e8e8;
    font-weight: bold;
    transform: scale(1.02);
    box-shadow:  0 0 10px 5px #2C3238;
    box-shadow:  5px 5px 30px 5px #2c323873;
}

#frameVideo{
    margin: 10px;
    aspect-ratio: 16/9;
    width: 90%;
}
.titulo{
    height: 20%;
    margin-left: 5px;
    margin-right: 5px;
    font-size:medium;

}
.autor{

    margin-left: 5px;
    margin-right: 5px;
    font-size: medium;

}
.extraAction {
    height: 20%;
}
.nlista{
    font-size:x-large;
    color: black;
    padding-right: 50px;
    padding-left: 10px;
}

.Nombre{
    display: flex;
    justify-content: space-between;
    align-items: center; 
}

.Recomendaciones{
    display: flex;
    justify-content: space-between;
    align-items: center; 
    
}

.Recomendaciones .p1{
    margin-left: 25%;

}
.Recomendaciones .p2{
    margin-right: 25%;
}
.Form1Listas{
    float: right;
    margin-right: 4vw;
}

.listaTitulo {
    text-align: center;
}
.listaTitulo h1 {
    margin: 0;
    padding: 0;

}
/*Forms diversos*/

.formUsers {
    margin: 0;
    padding: 40px;
    font-size: 0.9rem;
}

.formUsers input {
  width: 100%;
  border: 0;
  border-bottom: 2px solid #D3D8DC;
  outline: 0;
  background: #fff;
  padding: 20px 0 4px;
  margin: 0 0 20px;
  color: gray;
}
.formUsers input:focus {
    border-color: black;
    color: black;
  }
.formUsers textarea {
    width: 100%;
    border: 0;
    border-bottom: 2px solid #D3D8DC;
    outline: 0;
    background: #fff;
    padding: 20px 0 4px;
    margin: 0 0 20px;
    color: #777B7E;
  }
.formUsers textarea:focus {
    border-color: #7A9D96;
    color: #2C3238;
  }
.formUsers button.submit {
    width: 100%;
    padding: 20px 0;
    text-align: center;
    background: white;
    color: black;
    border-radius: 4px;
    opacity: .8;
    border: 1px solid;
    transition: .1s linear;
    font-size: large;
  }
  
.formUsers button.submit:hover {
    background-color: black;
    color: white;
  }

.formulario {
    width: 50%;
    margin-left: 25%;
    margin-top: 2vh;    
  }
  .formUsers select{
    width: 100%;
    height: 5vh;
    font-size: large;
}
.formUsers select option{
    text-align: left;
}
.formUsers select .vacio{
    text-align: center;
}
  /* Confirmación cerrar sesión */

#confirmacion{
    margin-top: 5vh;
    width: 50%;
    margin-left: 25%;
  }
#botones-confirmacion {
    width: 50%;
    margin-left: 25%;   
}

#botones-confirmacion a {   
    width: 49%;
 
}

