* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    z-index: 1;
    
}
body {
    background-color: lightgray;
}

body p{
    font-size: larger;
    margin-bottom: 0;
}

#infoPag{
    padding-top: 64px;
    min-height: 95vh;
}

/* navbar */

header{
    background-color: grey;
    width: 100%;
    display: table;
    font-size: 1.1rem;
    position: fixed;
    box-shadow: 0 1px rgba(90, 90, 90, 0.664);
    z-index: 2;
    


}
.menu {
    clear: both;
    width: 95%;
    margin: 0 auto;

}

nav{
    float: right;
}

nav ul li{
    list-style: none;
    float: left;


}

nav ul li a {
    text-decoration: none;
    font-weight: bold;
    color: black;
    padding: 1.3rem 1.5rem;
    line-height: 4rem;
    
} 

nav ul li:hover{
    background-color: darkgray;
    
}

/* footer */
footer{
    background-color: grey;
    min-height: 5vh;
}

/*Cursos y listas*/
h2{
    margin: 0 10px 0 10px;
    float: left;
}

.tema{
    margin: 0 10px 0 10px;
    background-color: gray;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 10px;
    min-height: fit-content;
    margin-bottom: 30px;
}
.video{
    background-color: darkgrey;
    width: 98%;
    min-height: 350px;
    height: 40vh;
    margin: 1%;
    text-align: center;
    transition: 0.3s;
}

.video:hover{
    background-color: lightgray;
    font-weight: bold;
    transform: scale(1.02);
}

#frameVideo{
    margin: 10px;
    aspect-ratio: 16/9;
    width: 90%;
}
.titulo{
    height: 20%;
    margin-left: 5px;
    margin-right: 5px;
    font-size:medium;

}
.autor{

    margin-left: 5px;
    margin-right: 5px;
    font-size: medium;

}
.extraAction {
    height: 20%;
}
.nlista{
    font-size:x-large;
    color: black;
    padding-right: 50px;
    padding-left: 10px;
}

.Nombre{
    display: flex;
    justify-content: space-between;
    align-items: center; 
}

.Recomendaciones{
    display: flex;
    justify-content: space-between;
    align-items: center; 
    
}

.Recomendaciones .p1{
    margin-left: 25%;

}
.Recomendaciones .p2{
    margin-right: 25%;
}
.Form1Listas{
    float: right;
    margin-right: 4vw;
}

/*Forms*/

.formUsers {
    margin: 0;
    padding: 40px;
    font-size: 0.9rem;
}

.formUsers input {
  width: 100%;
  border: 0;
  border-bottom: 2px solid #D3D8DC;
  outline: 0;
  background: #fff;
  padding: 20px 0 4px;
  margin: 0 0 20px;
  color: gray;
}
.formUsers input:focus {
    border-color: black;
    color: black;
  }
.formUsers textarea {
    width: 100%;
    border: 0;
    border-bottom: 2px solid #D3D8DC;
    outline: 0;
    background: #fff;
    padding: 20px 0 4px;
    margin: 0 0 20px;
    color: #777B7E;
  }
.formUsers textarea:focus {
    border-color: #7A9D96;
    color: #2C3238;
  }
.formUsers button#submit {
    width: 100%;
    padding: 20px 0;
    text-align: center;
    background: white;
    color: black;
    border-radius: 4px;
    opacity: .8;
    border: 1px solid;
    transition: .1s linear;
    font-size: large;
  }
  
.formUsers button#submit:hover {
    background-color: black;
    color: white;
  }

.formulario {
    width: 50%;
    margin-left: 25%;
    margin-top: 2vh;    
  }

  /* Confirmación cerrar sesión */

#confirmacion{
    margin-top: 5vh;
    width: 50%;
    margin-left: 25%;
  }
#botones-confirmacion {
    width: 50%;
    margin-left: 25%;   
}

#botones-confirmacion a {   
    width: 49%;
 
}