* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    z-index: 1;
    
}
body {
    background-color: lightgray;
}

p{
    font-size: larger;
}

#infoPag{
    padding-top: 64px;
    min-height: 95vh;
}

/* navbar */
header{
    background-color: grey;
    width: 100%;
    display: table;
    font-size: 1.1rem;
    position: fixed;
    box-shadow: 0 1px rgba(90, 90, 90, 0.664);
    z-index: 2;
    


}
.menu {
    clear: both;
    width: 95%;
    margin: 0 auto;

}

nav{
    float: right;
}

nav ul li{
    list-style: none;
    float: left;


}

nav ul li a {
    text-decoration: none;
    font-weight: bold;
    color: black;
    padding: 1.3rem 1.5rem;
    line-height: 4rem;
    
} 

nav ul li:hover{
    background-color: darkgray;
    
}

/* footer */
footer{
    background-color: grey;
    min-height: 5vh;
}

/*Cursos y listas*/
h2{
    margin: 0 10px 0 10px;
    float: left;
}

.tema{
    margin: 0 10px 0 10px;
    background-color: gray;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 10px;
    min-height: fit-content;
    margin-bottom: 30px;
}
.video{
    background-color: darkgrey;
    width: 98%;
    min-height: 350px;
    height: 40vh;
    margin: 1%;
    text-align: center;
    transition: 0.3s;
}

.video:hover{
    background-color: lightgray;
    font-weight: bold;
    transform: scale(1.02);
}

#frameVideo{
    margin: 10px;
    aspect-ratio: 16/9;
    width: 90%;
}
.titulo{
    height: 20%;
    margin-left: 5px;
    margin-right: 5px;

}
.autor{
    height: 10%;
    margin-left: 5px;
    margin-right: 5px;
    font-size: medium;
}
.extraAction {
    height: 20%;
}
.nlista{
    font-size:x-large;
}

.Nombre{
    display: flex;
    justify-content: space-between;
    align-items: center; 
}

.Form1Listas{
    float: right;
    margin-right: 4vw;
}